@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: black;
  background-color: #DEF5E5;
}

h1, h2 {
  font-family: Lobster, sans-serif;
  color: black;
}

#logo {
  float: left;
  font-size: 280%;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
}

#menu li {
  float: right;
  list-style: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid black;
}

#logo, #menu {
  line-height: 75px;
}

#active {
  border-bottom: 1px solid black;
}

.left-about {
  background-color: yellow;
}

.right-about {
  background-color: green;
}

.center-cta {
  background-color: red;
}

.times {
  background-color: yellow;
}

.social-networks {
  background-color: pink;
}
