.left-about {
  background-color: yellow;
}

.right-about {
  background-color: green;
}

.center-cta {
  background-color: red;
}

.times {
  background-color: yellow;
}

.social-networks {
  background-color: pink;
}











#logo {
  background-color: red;
}

#nav-bar {
  background-color: pink;
}
