@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

#site-name {
  font-family: Lobster, sans-serif;
}








.left-about {
  background-color: yellow;
}

.right-about {
  background-color: green;
}

.center-cta {
  background-color: red;
}

.times {
  background-color: yellow;
}

.social-networks {
  background-color: pink;
}

#logo {
  background-color: red;
}

#nav-bar {
  background-color: pink;
}
